
* {
    margin: 0px;
    padding: 0px;
}
html {
    font-size: calc(1em + 1vw);
}
.main {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.container {
    color:  #004D49;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr;
    ms-grid-rows: 2fr;
}
.grid-left {
  margin: 1em 0;
  -ms-grid-column: 1;
  grid-column: 1/1;
}
.logo{
  max-width: 35vw;
}
.male-menu{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  padding:1vh 0;
}
h2 {
    font-size: 0.8em;
    border-left: 1px solid #004D49;
    padding: 0 0 0 2px;
    margin: 0.1em 0;
}
h3{
    font-size: 0.8em;
    border-left: 1px solid #004D49;
    padding: 0 0 0 2px;
    margin-top: 3vh;
}
p{
  font-size: 0.6em;
  margin: 5px;
  padding: 0;
}
.portriait{
  max-width: 40vw;
  Padding-top: 2vh;
}
.grid-right {
  margin: 1em 0;
  -ms-grid-column: 1;
  grid-column: 2/2;
}
.card{
  float:right;
}
.grid-bottom{
  grid-column: 1/3
}
.tekst{
  Border-top: 1px solid #004D49;
  padding-top: 5px;
}
ul{
  list-style: none;
}
li{
  font-size:0.6em;
  margin: 5px 10px;
  padding: 0;
}
@media (min-width: 555px) {
.portriait{
    max-width: 30vw;
  }
}

@media (min-width: 1024px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 5% 40% 5% 25%;
    grid-template-columns: 25% 5% 40% 5% 25%;
    grid-template-rows: 2fr;
    ms-grid-rows: 2fr;
}
.grid-left {
  margin: 1em 0;
  -ms-grid-column: 1;
  grid-column: 1/1;
}
.logo{
  max-width: 15vw;
}
.grid-right{
  grid-column:5/6;
}
  .portriait{
    max-width: 15vw;
  }
  .grid-bottom{
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top:40vh;
  }
}